<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<form action="insert-birth" method="post" >
		
		<label>Bno :</label>
		<input type="number" readonly name="Bno" th:value="${Birth.Bno}"/>
		<br><br>
		
		<label>FirstName :</label>
		<input type="text" name="FirstName" th:value="${Birth.FirstName}">
		<br><br>
		
		<label>LastName :</label>
		<input type="text" name="LastName" th:value="${Birth.LastName}">
		<br><br>
		
		<label>Hospital :</label>
		<input type="text" name="Hospital" th:value="${Birth.Hospital}">
		<br><br>
		
		<label>DOB :</label>
		<input type="date" name="DOB" th:value="${Birth.DOB}">
		<br><br>
		
   <label >Gender :</label>
    <select name="Gender" th:value="${Birth.Gender}">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
    </select>
    <br><br>
		
		<label>Area :</label>
		<input type="text" name="Area" th:value="${Birth.Area}">
		<br><br>
		
		<label>city :</label>
		<input type="text" name="city" th:value="${Birth.city}">
		<br><br>
		
		<label>Pincode :</label>
		<input type="number" name="Pincode" th:value="${Birth.Pincode}">
		<br><br>
		
		<button type="submit">Submit</button>
		<br><br>
		<button type="reset">ReSet</button>
		
		
		
		
	</form>


</body>
</html>